@import "../config";

.links-group {

    .links-group--title {
        font: {
            size: 14px;
            family: $fontFamily-headers;
        }
        text-transform: uppercase;
    }

    .links-group--links {
        color: $red;
        list-style: none;
        padding-left: 0;
        padding-right: 20px;
    }

    @mixin list-item-small-decoration {
        &:before {
            display: inline-block;
            width: 5px;
            height: 5px;
            content: "";
            border: 1px solid currentColor;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0.5em;
        }
    }

    %listItemWrapper {
        padding-left: 20px;
        position: relative;
        margin: 5px 0;
        @include list-item-small-decoration;
    }

    .links-group--text-wrapper {
        @extend %listItemWrapper;
        color: $gray3
    }

    .links-group--link-wrapper {
        @extend %listItemWrapper;
    }

    %listItem {
        font: {
            size: 14px;
            weight: $fontWeight-light;
        }
    }

    .links-group--text {
        @extend %listItem;
    }

    .links-group--link {
        color: inherit;
        @extend %listItem;
        &:hover {
            text-decoration: underline;
        }
    }

    %titleWithIcon {
        padding: {
            left: 40px;
            top: 10px;
        }
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    &.links-group__spoken-at {
        .links-group--title {
            background-image: url($icon-spokenAt);

            @extend %titleWithIcon;
        }
    }

    &.links-group__presentations {
        .links-group--title {
            background-image: url($icon-presentations);

            @extend %titleWithIcon;
        }
    }

    &.links-group__videos {
        .links-group--title {
            background-image: url($icon-videos);

            @extend %titleWithIcon;
        }
    }
}
