@import "../mixins/typography";
@import "../mixins/page-container";
@import "../config";
@import "../mixins/rwd";

.contact-person {
    @include bigPage {
        @include span(2);

        &:nth-child(2n) {
            @include span(2 last);
        }
    }

    @include tablets {
        @include span(1);

        &:nth-child(2n) {
            @include span(1 last);
        }
    }

    .contact-person--avatar {
        float: left;
        width: 35%;

        @include phonesAndTabletsPortrait {
            display: none;
        }
    }

    .contact-person--title {
        @include redHeading-medium;
        margin-bottom: 20px;
        margin-top: 10px;

        @include phones {
            margin-bottom: 10px;
            margin-top: 5px;
            font-size: $fontSize-big;
        }
    }

    .contact-person--info {
        @include bigPage {
            margin-left: calc(35% + 20px);
        }
    }

    .contact-person--contact-item-title {
        width: 30px;
        text-indent: -9999px;
        overflow: hidden;
        float: left;
        min-height: 30px;

        &.contact-person--contact-item-title__mail {
            background: url($icon-mail) no-repeat top center;
            margin-top: 2px;
        }

        &.contact-person--contact-item-title__phone {
            background: url($icon-phone) no-repeat top center;
        }

        &.contact-person--contact-item-title__address {
            background: url($icon-map) no-repeat top center;
        }
    }

    .contact-person--contact-item-data {
        margin: {
            top: 1em;
            bottom: 1em;
            left: 40px;
        }
        min-height: 30px;
        @include text-small();

        @include phones {
            font-size: $fontSize-base;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }
}

.contact-persons {
    @include pageContainer();

    margin: {
        top: 50px;
        bottom: 50px;
    }

    @include phonesAndTabletsPortrait {
        margin: {
            top: 20px;
            bottom: 20px;
        }
    }
}
