a {
  background: url('data:image/svg+xml;charset=utf-8;base64,' + base64Encode($svg)) 0 0 no-repeat;
}

b {
  background: url('data:image/svg+xml;charset=utf-8;base64,' + base64Encode($svg)) 0 0 no-repeat;
}